.wrapper {
  background-image: url("/assets/background.jpg");
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1140px;
  padding: 0 2rem;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8.2rem;
}

.presentation {
  padding: 16rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  > img {
    width: 42rem;
    height: auto;
    object-fit: contain;
  }

  > h1 {
    font-weight: 700;
    color: #f9f9f9;
    font-size: 3.2rem;
    line-height: 4.2rem;
    margin-top: 2.8rem;
    margin-bottom: 4rem;
  }

  > p {
    font-weight: 500;
    color: #f9f9f9;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

.achievements {
  margin-top: 8rem;

  > h5 {
    font-weight: 500;
    font-size: 1.4rem;
    color: #50d9d4;
    text-align: center;
    margin-bottom: 2.2rem;
  }
}

.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.2rem;
}

.company {
  display: flex;
  align-items: flex-start;
  gap: 1.4rem;

  > img {
    height: 6rem;
    width: 6rem;
  }

  > div {
    > h5 {
      font-weight: 800;
      font-size: 1.1rem;
      color: #f9f9f9;
    }

    > p {
      font-weight: 400;
      font-size: 1.1rem;
      color: #f9f9f9;
    }
  }
}

.form {
  position: relative;
  z-index: 10;

  > img {
    width: 100%;
  }

  > form {
    width: 100%;
    position: absolute;
    top: 43rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    background: #fff;
    padding: 5rem 4rem;
    border-radius: 3rem;

    > h1 {
      color: #3039c3;
      font-weight: 700;
      font-size: 2.6rem;
      text-align: center;
      margin-bottom: 1.6rem;
    }

    > input {
      height: 5.2rem;
      outline: none;
      padding: 0 1.6rem;
      border-radius: 1.6rem;
      border: 1px solid #3039c3;
      color: #989898;

      &::placeholder {
        font-weight: 500;
      }
    }

    > button {
      background: #3039c3;
      height: 5.6rem;
      border: 0;
      outline: 0;
      border-radius: 1.6rem;
      color: #fff;
      font-size: 1.6rem;
      font-weight: 500;
      cursor: pointer;
      transition: background 0.3s ease-in-out;

      &:hover {
        background: var(--hover-color);
      }
    }
  }
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.2rem;
  }

  .presentation {
    padding: 4rem 0;

    > img {
      width: 50%;
    }
  }

  .form {
    padding-bottom: 4.2rem;

    > img {
      display: none;
    }

    > form {
      position: relative;
      top: 0;
    }
  }
}

@media (max-width: 425px) {
  .achievements {
    > h5 {
      text-align: left;
    }
  }

  .companies {
    display: flex;
    flex-direction: column;
  }

  .form {
  }
}
