.wrapper {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1512px;
  margin: 0 auto;

  display: flex;
}

.presentation {
  h5 {
    margin-top: 10.6rem;
    color: #000000;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 3.6rem;
    position: relative;
    margin-bottom: 2.6rem;

    &::after {
      content: "";
      left: 0;
      bottom: 0;
      position: absolute;
      height: 0.4rem;
      width: 11rem;
      background: #3333cc;
    }
  }

  h1 {
    font-weight: 900;
    font-size: 6.3rem;
    color: #212121;
    line-height: 7.1rem;

    span {
      display: block;
      font-weight: 700;
      font-size: 6.3rem;
      color: #212121;
      line-height: 7.1rem;
    }
  }

  p {
    margin-top: 4.5rem;
    width: 38rem;
    font-size: 1.7rem;
    line-height: 2.8rem;
    color: #212121;
  }
}

.employees {
  padding-left: 7.7rem;
  padding-top: 19.5rem;
  padding-bottom: 10rem;

  display: flex;
  flex-wrap: wrap;
  gap: 8rem 3rem;
}

.employeeItem {
  position: relative;
  background: rgba(249, 249, 249, 0.9);
  box-shadow: 0px 2.76628px 11.7567px rgba(0, 0, 0, 0.25);
  border-radius: 6.5rem;
  width: 29rem;
  height: 31.1rem;
  padding: 0 3.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    position: absolute;
    top: -4.9rem;
    width: 9.8rem;
    height: 9.8rem;
    object-fit: cover;
  }

  h3 {
    margin-top: 6.7rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
    font-weight: 700;
  }

  span {
    margin-top: 0.5rem;
    font-size: 1.6rem;
    line-height: 2.1rem;
    text-align: center;
    font-weight: 400;
  }

  p {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    margin-top: 1.2rem;
  }

  a {
    position: absolute;
    right: 4rem;
    bottom: 2rem;
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    height: 3.5rem;
    width: 3.5rem;
    border: 1px solid #3333cc;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8.5rem;

  button {
    background: #3333cc;
    height: 7.4rem;
    width: 37.1rem;
    font-size: 2.4rem;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.14), 0px 3px 14px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5rem;
    border: 0;
    outline: 0;
  }
}
