.wrapper {
  background: var(--primary-color);
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 8rem 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.title {
  > h1 {
    color: var(--text-secondary);
    font-weight: 700;
    font-size: 4.8rem;

    > b {
      position: relative;
      font-weight: 900;
      font-size: 6.9rem;
      color: var(--secondary-color);

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 1rem;
        height: 0.4rem;
        background: var(--black);
      }
    }
  }
}

.timelineItems {
  margin: 5rem 0;
  width: 100%;
}

.timelineItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0.25rem;
    right: 50%;
    background: var(--black);
  }

  &:last-child::before {
    content: "";
    position: absolute;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--secondary-color);
    bottom: 0;
    left: 48.9%;
    z-index: 20;
  }

  &:nth-child(odd) {
    .timelineImage {
      order: 0;
    }

    .timelineDescription {
      text-align: left;

      > img {
        left: -2.65rem;
      }
    }
  }

  &:nth-child(even) {
    .timelineImage {
      order: 1;
    }

    .timelineDescription {
      text-align: right;

      > img {
        right: -2.25rem;
      }
    }
  }
}

.timelineImage {
  padding: 5rem;
  padding-bottom: 10rem;

  display: flex;
  justify-content: center;
  align-items: center;

  > img {
    width: 90%;
    height: auto;
  }
}

.timelineDescription {
  padding: 0 5rem;
  position: relative;

  > img {
    position: absolute;
    z-index: 10;
    width: 5rem;
    height: 5rem;
    object-fit: contain;
  }

  > h5 {
    color: var(--text-secondary);
    font-weight: 700;
    font-size: 3.6rem;
    margin-bottom: 4rem;
  }

  > p {
    color: var(--text-secondary);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}

.footer {
  > button {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
    padding: 2rem 5rem;
    border-radius: 5rem;
    background: var(--secondary-color);
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

    &:hover {
      background: var(--hover-color);
      color: var(--text-secondary);
    }
  }
}

@media (max-width: 1024px) {
  .timelineItem {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0rem;

    &:last-child::before {
      content: "";
      position: absolute;
      height: 2rem;
      width: 2rem;
      background: var(--secondary-color);
      bottom: 0;
      left: 0;
      border-radius: 50%;
      z-index: 20;
    }

    &::after {
      left: 1rem;
    }

    &:nth-child(odd) {
      .timelineDescription {
        > img {
          left: -1.5rem;
        }
      }
    }

    &:nth-child(even) {
      .timelineDescription {
        text-align: left;

        > img {
          left: -1.5rem;
        }
      }
    }
  }

  .timelineImage {
    display: none;
  }

  .timelineDescription {
    padding-bottom: 8rem;

    > img {
      top: 0.35rem;
    }
  }
}
